jobs:
  lint_spelling:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: ./.github/actions/prepare
      - run: pnpm lint:spelling

name: Lint Spelling

on:
  pull_request: ~
  push:
    branches:
      - main
